.contacts__list > li{
    display: flex;
    gap: 50px;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between

}

.contacts__btn{
    max-width: 200px;
    height: 30px;
    padding: 0px 20px;
    text-transform: uppercase;
    border-radius: 17px;
    font-size: 17px;
    font-weight: 500;
    color: #06060680;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #06060680;
    transition: 0.5s ease;
}

.contacts__btn:hover, .contacts__btn:focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }